node_modules/
.next/
.env
.env.local
*.log
.DS_Store

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
*.env
secrets.h
private_key.json

node_modules/
.next/
out/
build/
dist/
.vercel
*.log

venv/
.venv/
env/
env_govest/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd
.ipynb_checkpoints/

**/data/*.csv
**/output/*.csv

.arduino/
hardware/build/
hardware/bin/